body {
    background-color: #fff;
}

.titleInicioSobreNosotros {
    text-align: center;
    background-color: rgb(108, 16, 16);
    box-shadow: 8px -8px 5px 1px rgb(128, 128, 128);
    padding: 20px;
    color: #fff;
    font-family: helvetica;
}

.titlePrincipal h1 {
    color: #fff;
}

.sobreNosotrosDiv {
    display: block;
    position: relative;
}

.sobreNosotrosDiv h3 {
    text-align: center;
}

.sobreNosotrosDiv p {
    color: #000;
    font-family: Helvetica;
    font-size: 1.5vw;
    text-align: justify;
}

@media (max-width: 600px) {
    .sobreNosotrosDiv p {
        font-size: 2.5vw;
    }
}

/* Apartado de mision y vision */

.containerMIV {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 766px) {
    .containerMIV {
        flex-direction: column;
    }
}

.containerMIV .containerMission {
    background-color: rgb(108, 16, 16);
    box-shadow: -8px 8px 5px 1px rgb(128, 128, 128);
    margin: 0;
    max-width: 500px;
    padding: 2vw;
}

@media (max-width: 766px) {
    .containerMIV .containerMission {
        box-shadow: 8px -8px 5px 1px rgb(128, 128, 128);
    }
}

.containerMission:hover {
    animation-name: aboutAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes aboutAnimation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }

    /* Cambia al color de fondo al pasar el mouse que deseas */
}

.containerMission h3 {
    text-align: center;
    color: #fff;
}

.containerMission p {
    text-align: center;
    color: #fff;
    font-family: helvetica;
}

.containerMIV .containerVision {
    background-color: rgb(0, 0, 0);
    box-shadow: 8px -8px 5px 1px rgb(128, 128, 128);
    margin: 0;
    max-width: 500px;
    padding: 2vw;
}

@media (max-width: 766px) {
    .containerMIV .containerVision {
        box-shadow: -8px 8px 5px 1px rgb(128, 128, 128);
    }
}

.containerVision:hover {
    animation-name: aboutAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.containerVision h3 {
    color: #fff;
    text-align: center;
}

.containerVision p {
    text-align: center;
    color: #fff;
    font-family: helvetica;
}


/* Imagen del centro */

.imgPrueba {
    width: 40vw;
    height: 60vh;
}

.imgPrueba {
    background: linear-gradient(rgba(0, 0, 0, 0.643), rgba(0, 0, 0, 0.175)), url(../img/fondoAbout1.jpg);
    width: 90vw;
    background-position: right;
    box-shadow: 3px -2px 25px rgba(255, 255, 255, 0.502);
}

@media (max-width: 1000px) {
    .imgPrueba {
        background-position: 85%;
    }
}

@media (max-width: 766px) {
    .imgPrueba {
        background-repeat: no-repeat;
        background-size: cover;
        width: 45vw;
        height: 40vh;
    }
}

.imgPrueba:hover {
    animation-name: imgAboutZoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background: url(/img/fondoAbout1.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes imgAboutZoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Apartado sobre el fundador */

@media (max-width: 470px) {
    .TitleFundadorTrue {
        text-align: center;
    }
}

.containerFundadorExt {
    background-color: rgb(0, 0, 0);
    padding: 2vw;
    font-family: helvetica;
    box-shadow: -8px 8px 5px 1px rgb(128, 128, 128);
}

@media (max-width: 355px) {
    .containerFundadorExt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.containerFundador {
    background-color: #fff;
    margin-top: 130px;
    height: 35px;
    text-align: end;
}

@media (max-width: 1198px) {
    .containerFundador {
        background-color: transparent;
        margin-top: 0%;
    }
}

.containerText {
    text-align: justify;
    color: #ffffff;
    font-family: helvetica;
}

@media (max-width: 470px) {
    .containerText {
        text-align: center;
        padding: 2%;
    }
}

.imagFundador {
    width: 12rem;
    float: right;
    margin-left: 20PX;
    box-shadow: 3px -2px 25px rgba(255, 255, 255, 0.502);
}

@media (max-width: 990px) {
    .imagFundador {
        margin-bottom: 20px;
    }
}

@media (max-width: 355px) {
    .imagFundador {
        margin-left: 0%;
        float: none;
    }
}

.containerTitlefundadorTrue {
    text-align: start;
}

.TitleFundadorTrue {
    color: #fff;
    margin-right: 2.5vw;
}

/* Apartado de la presidenta  */

.containerFundadora {
    background-color: rgb(108, 16, 16);
    padding: 2vw;
    font-family: helvetica;
    box-shadow: 4px -3px 5px 1px rgb(128, 128, 128);
    margin-bottom: 3vw;
}

@media (max-width: 400px) {
    .TitlePresidentaTrue {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.titleFundadora {
    margin-bottom: 2rem;
    font-family: helvetica;
}

@media (max-width: 470px) {
    .TitlePresidentaTrue {
        text-align: center;
    }
}

.imagFundadora {
    width: 15rem;
    float: right;
    margin-left: 20PX;
    box-shadow: 3px -2px 25px rgba(255, 255, 255, 0.502);
}

@media (max-width: 990px) {
    .imagFundadora {
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .imagFundadora {
        float: none;
        margin-left: 0%;
    }
}

.containerTextPresidenta {
    text-align: justify;
    margin-right: 50PX;
    color: #ffffff;
    font-size: 1rem;
    font-family: helvetica;
}

@media (max-width: 430px) {
    .containerTextPresidenta {
        margin-right: 0%;
    }
}

@media (max-width: 560px) {
    .containerTextPresidenta {
        text-align: center;
    }
}

.containerFundadoraWhite {
    margin-top: 50px;
    background-color: #fff;
    height: 35px;
    text-align: end;
}

@media (max-width: 1198px) {
    .containerFundadoraWhite {
        background-color: transparent;
        margin-top: 0%;
    }
}

.containerTitlefundadoraTrue {
    text-align: start;
}

.TitlePresidentaTrue {
    color: #fff;
}

.footerText{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation,
.page-header,
.offer,
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.643), rgba(0, 0, 0, 0.68)), url(../img/footerAboutBack4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.btnTwitter:hover {
    background-color: #000;
    color: aqua;
}

.btnFacebook:hover {
    background-color: #3b5998;
    color: #fff;
}

.btnYoutube:hover {
    background-color: rgb(255, 0, 0);
    color: #fff;
}

.btnInstagram:hover {
    background-color: #3F529B;
    background-image: linear-gradient(to right, #FF7737, #E76363, #C06767, #BD3566);
    color: aliceblue;
}

.btnInstagram:hover {
    background-color: #3F529B;
    background-image: linear-gradient(to right, #FF7737, #E76363, #C06767, #BD3566);
    color: aliceblue;
}

.cuadroDropdown a {
    color: #fff;
    font-family: helvetica;
}

.cuadroDropdown a:hover {
    background-color: rgba(0, 0, 0, 0.631);
    color: #fff;
}

.cuadroDropdown {
    background: linear-gradient(to right, #0000001e, #ffffffa3);
}