body {
    background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.76)), url(/img/studentVisaBack2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.reservation,
.page-header,
.offer,
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.643), rgba(0, 0, 0, 0.68)), url(../img/visaStudentFooter3.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover
}

.titlePrincipalStudentvisa h1 {
    color: #fff;
}

.containerGeneralInformation {
    text-align: center;
    background-color: rgb(108, 16, 16);
    box-shadow: 8px -8px 5px 1px rgb(128, 128, 128);
    padding: 20px;
    font-family: helvetica;
}

.containerGeneralInformation h2 {
    color: #fff;
    text-align: center;
    font-family: helvetica;
}

.containerTextInformation p {
    margin-top: 2vw;
    text-align: justify;
    color: black;
    font-size: 1.5vw;
    font-family: helvetica;
}

.containerRequirementVisa {
    text-align: center;
    background-color: rgb(108, 16, 16);
    box-shadow: 8px -8px 5px 1px rgb(128, 128, 128);
    font-family: helvetica;
    width: 50vw;
    margin: 0 auto;
}

.containerRequirementVisa h2 {
    font-size: 2vw;
    color: #fff;
}

.containerTetxtRequeriment p {
    margin-top: 2vw;
    text-align: justify;
    color: black;
    font-size: 1.5vw;
    font-family: helvetica;
}

.containerStudentVisaProcess {
    text-align: center;
    background-color: rgb(108, 16, 16);
    box-shadow: 8px -8px 5px 1px rgb(128, 128, 128);
    font-family: helvetica;
    width: 25vw;
    margin: 0 auto;
}

.containerStudentVisaProcess h2 {
    color: #fff;
    font-size: 2vw;
}

.ContainerTextStudentVisaProcess li,
ol {
    text-align: justify;
    color: black;
    font-size: 1.5vw;
    font-family: helvetica;
}

.containerMoreInformation {
    text-align: center;
    background-color: rgb(108, 16, 16);
    box-shadow: 8px -8px 5px 1px rgb(128, 128, 128);
    font-family: helvetica;
    width: 25vw;
    margin: 0 auto;
}

.containerMoreInformation h2 {
    color: #fff;
    font-size: 2vw;
}

.containerTextMoreInformation p {
    margin-top: 2vw;
    text-align: justify;
    color: black;
    font-size: 1.5vw;
    font-family: helvetica;
}

.btnTwitter:hover {
    background-color: #000;
    color: aqua;
}

.btnFacebook:hover {
    background-color: #3b5998;
    color: #fff;
}

.btnYoutube:hover {
    background-color: rgb(255, 0, 0);
    color: #fff;
}

.btnInstagram:hover {
    background-color: #3F529B;
    background-image: linear-gradient(to right, #FF7737, #E76363, #C06767, #BD3566);
    color: aliceblue;
}

.btnInstagram:hover {
    background-color: #3F529B;
    background-image: linear-gradient(to right, #FF7737, #E76363, #C06767, #BD3566);
    color: aliceblue;
}

.cuadroDropdown a {
    color: #fff;
    font-family: helvetica;
}

.cuadroDropdown a:hover {
    background-color: rgba(0, 0, 0, 0.631);
    color: #fff;
}

.cuadroDropdown {
    background: linear-gradient(to right, #0000001e, #ffffffa3);
}