<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASM Beauty World Academy</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/prueba.css">
    <link rel="stylesheet" href="/css/cosmetology.css">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="index.html" class="navbar-brand px-lg-4 m-0">
                <h1 class="m-0 display-4 text-uppercase text-white">ASM</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto p-4">
                        <a href="/index.html" class="nav-item nav-link">Home</a>
                        <a href="/components/about.html" class="nav-item nav-link">About</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Education</a>
                            <div class="dropdown-menu text-capitalize cuadroDropdown">
                                <a href="/components/education.html" class="dropdown-item">Programs</a>
                                <a href="/components/visaStudent.html" class="dropdown-item">Student Visa I- 20</a>
                                <a href="/components/homologation.html" class="dropdown-item">Homologation</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="/components/gallery.html" class="nav-link">Gallery</a>
                        </div>
                        <a href="/components/contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="page-header-prueba mb-1 position-relative">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5"
            style="min-height: 300px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase titleBarber">Cosmetology</h1>
        </div>
    </div>

    <!-- Service Start -->
    <div class="imageBackgroundMicro">
        <div class="squareBack">
            <div class="container-fluid pt-2">
                <div class="containerTitlemicro1">
                    <h2 class="titleFunda">
                        Program of Study
                    </h2>
                </div>
            </div>
            <div class="containerAll">
                <div class="conatinerMakeupSkinCare">
                    <!-- Primera seccion de los servicios -->
                    <div class="hair">
                        <h3>Hair</h3>
                        <li>
                            Color
                        </li>
                        <li>
                            Relaxers
                        </li>
                        <li>
                            Highlights
                        </li>
                        <li>
                            Ombre
                        </li>
                        <li>
                            Bleach
                        </li>
                        <li>
                            Blow Dry
                        </li>
                        <li>
                            Curls
                        </li>
                        <li>
                            Braids
                        </li>
                        <li>
                            Women Haircuts
                        </li>
                        <li>
                            Keratin
                        </li>
                        <li>
                            Texture Services
                        </li>
                        <li>
                            Scalp Treatment
                        </li>
                        <li>
                            Scalp Manipulation
                        </li>
                        <li>
                            Color Removal
                        </li>
                        <li>Theory of Color</li>
                        <li>
                            Permanents
                        </li>
                        <li>
                            Straighteners
                        </li>
                        <li>
                            Lowlights
                        </li>
                        <li>
                            Balaye
                        </li>
                        <li>
                            Pigments
                        </li>
                        <li>
                            Flat Iron
                        </li>
                        <li>
                            Rollers
                        </li>
                        <li>
                            Updos
                        </li>
                        <li>
                            Men Haircuts
                        </li>
                        <li>
                            Botox
                        </li>
                        <li>
                            Shampoo
                        </li>
                        <li>
                            Hair Treatment
                        </li>
                        <li>
                            PH Scale
                        </li>
                        <li class="lastLi">
                            Color wheel
                        </li>
                    </div>
                    <div class="ConatinerPrincipalAll">
                        <!-- Segunda seccion de los servicios -->
                        <div class="HairExtensions">
                            <h3>Hair Extensions</h3>
                            <li>Weave</li>
                            <li>Bonded</li>
                            <li>Microtube</li>
                            <li>Microlink</li>
                            <li>Hot & Cold Fusion</li>
                            <li>Tape-in</li>
                            <li>Glue-in</li>
                            <li>Sew-in</li>
                            <li>Clip-in</li>
                            <li class="lastLi">Keratin</li>
                        </div>
                        <!-- Tercera seccion de los servicios -->
                        <div class="skinCare">
                            <h3>Skin Care</h3>
                            <li>Facials</li>
                            <li>Waxing Techniques (Hard, Sugar, Threading)</li>
                            <li>Skin Diseases</li>
                            <li>Masks (Gold & Diamond)</li>
                            <li class="lastLi">Facial Massage</li>
                        </div>
                        <!-- Cuarta seccion de los servicios -->
                        <div class="makeup">
                            <h3>Makeup</h3>
                            <li>History of Makeup - Theory</li>
                            <li>Skin Analysis for Makeup</li>
                            <li>Skin preparation for Makeup</li>
                            <li>Face Types</li>
                            <li>Makeup for wedding</li>
                            <li>Makeup for photo</li>
                            <li>Evening Makeup</li>
                            <li>Season makeup</li>
                            <li>Makeup for teen</li>
                            <li>Makeup for Aging Skin</li>
                            <li>Eyebrow Tinting</li>
                            <li>Eyelash Tinting</li>
                            <li>Eyelash Application</li>
                            <li class="lastLi">Face Painting for Kids Party</li>
                        </div>
                        <!-- quinta seccion de los servicios -->
                        <div class="nails">
                            <h3>Nails</h3>
                            <li>Manicure</li>
                            <li>Nail Diseases</li>
                            <li>Pedicure</li>
                            <li class="lastLi">Acrylic Nails</li>
                        </div>
                        <!-- sexta seccion de los servicios -->
                        <div class="salonSpa">
                            <h3>Salon or Spa Management</h3>
                        </div>
                        <!-- septima seccion de los servicios -->
                        <div class="floridaLaw">
                            <h3>Florida Law & Regulation</h3>
                        </div>
                        <!-- Octava seccion de los servicios -->
                        <div class="financialAvailable">
                            <h3>Financial AID Available</h3>
                            <p>Pell Grant & Student Loans (Direct Loan)</p>
                            <p class="lastP">For those who qualify</p>
                        </div>
                        <!-- Novena seccion de los servicios -->
                        <div class="FloridaCosmetology">
                            <h3>Florida Cosmetology License</h3>
                            <p>After completing the required hours & fulfilling your financial</p>
                            <p>Obligation with ASM, we will complete your application</p>
                            <p>if you pass your state Board Exam, you will get your License</p>
                        </div>
                    </div>
                </div>
                <div class="conatinerBackExtra">
                    <div class="containerFrontExtra">
                        <div class="containerLenght">
                            <h3>Length</h3>
                        </div>
                        <div class="LengthHours">
                            <p>1200 Hours</p>
                        </div>
                        <div class="containerSchedule">
                            <h3>Schedule</h3>
                        </div>
                        <div class="containerInfoSchedule">
                            <h3 class="day">
                                Monday - Friday
                            </h3>
                            <li>Day Part Time:</li>
                            <p>A) 8:30AM - 12:30PM</p>
                            <p>20HRS X WEEK</p>
                            <p>60 WEEKS = 15 MONTHS</p>
                            <p>B) 8:30AM - 2:00PM</p>
                            <p>25HRS X WEEK</p>
                            <p>48 WEEKS = 12 MONTHS</p>
                            <li>
                                Full Time:
                            </li>
                            <P>C)8:30AM - 3:00PM</P>
                            <p>30HRS X WEEK</p>
                            <p>40 WEEKS = 10 MONTHS</p>
                            <li>Evening Part Time:</li>
                            <p>D)6:00PM - 10:00PM</p>
                            <P>20HRS X WEEK</P>
                            <p> 60 WEEKS = 15 MONTHS</p>
                            <li>Saturdays: (Optional)</li>
                            <p>Classes Start Every Monday</p>
                        </div>
                        <div class="registrationRequirement">
                            <h3>registration Requirement</h3>
                            <li>Social Security Card</li>
                            <li>Driver´s License or State Identification</li>
                            <li>U.S. Green card or citizenship Certificate or U.S. Passport or U.S. Passport or U.S.
                                Birth Certificate</li>
                            <li>High School Diploma, GED or Wonderlic Exam</li>
                            <p>Includes: Registration, Tuition, Equipament and Book</p>
                        </div>
                        <div class="ASMSchool">
                            <h3>ASM Scholarship`Available</h3>
                            <p>For those who qualify</p>
                        </div>
                        <div class="JobPlacementAvailable">
                            <h3>Job Placement Available</h3>
                        </div>
                        <div class="DayCare">
                            <h3>Day Care Available </h3>
                        </div>
                        <div class="BilingualClasses">
                            <h3>Bilingual Classes</h3>
                            <p>(English & Spanish)</p>
                            <p>If Instructors are Available</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-0 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4 footerText">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
                <!-- Direccion -->
                <p><i class="fa fa-map-marker-alt mr-2"></i>1025 Ocean Drive, Miami Beach, FL 33139</p>
                <!-- Telefono -->
                <p><i class="fa fa-phone-alt mr-2"></i>(+1) 682 442 5 548</p>
                <!-- Correo -->
                <p class="m-0"><i class="fa fa-envelope mr-2"></i></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
                <p>(Poner una descripcion para que nos sigan)</p>
                <div class="d-flex justify-content-start">

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnTwitter" 
                        href="https://x.com/?lang=es"><i
                            class="fab fa-twitter logoTwitter"></i></a>

                    <a class=" btn btn-lg btn-outline-light btn-lg-square mr-2 btnFacebook" 
                        href="https://www.facebook.com/?locale=es_ES"><i
                            class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnYoutube" 
                        href="https://www.youtube.com/?app=desktop&hl=es"><i
                            class="fab fa-youtube"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square btnInstagram"
                        href="https://www.instagram.com"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Open Hours</h4>
                <div>
                    <h6 class="text-white text-uppercase">Monday - Friday</h6>
                    <p>8.00 AM - 8.00 PM</p>
                    <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                    <p>2.00 PM - 8.00 PM</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/PagesServiceJS/microJS.js"></script>
</body>

</html>
