<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASM Beauty World Academy</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/prueba.css">
    <link rel="stylesheet" href="/css/makeup.css">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="index.html" class="navbar-brand px-lg-4 m-0">
                <h1 class="m-0 display-4 text-uppercase text-white">ASM</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto p-4">
                        <a href="/index.html" class="nav-item nav-link">Home</a>
                        <a href="/components/about.html" class="nav-item nav-link">About</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Education</a>
                            <div class="dropdown-menu text-capitalize cuadroDropdown">
                                <a href="/components/education.html" class="dropdown-item">Programs</a>
                                <a href="/components/visaStudent.html" class="dropdown-item">Student Visa I- 20</a>
                                <a href="/components/homologation.html" class="dropdown-item">Homologation</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="/components/gallery.html" class="nav-link">Gallery</a>
                        </div>
                        <a href="/components/contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="page-header-prueba mb-1 position-relative">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5"
            style="min-height: 300px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase titleBarber">Advanced Makeup Artistry</h1>
        </div>
    </div>

    <!-- Service Start -->
    <div class="imageBackgroundMicro">
        <div class="squareBack">
            <div class="container-fluid pt-2">
                <div class="containerTitlemicro1">
                    <h2 class="titleFunda">
                        Program of Study
                    </h2>
                </div>
            </div>
            <div class="containerAll">
                <div class="">
                    <!-- Primera seccion de los servicios -->
                    <div class="titleMakeupFundamentals">
                        <h3>Makeup Fundamentals</h3>
                        <li>
                            The Evolution of Makeup Artistry
                        </li>
                        <li>
                            Infection Control
                        </li>
                        <li>
                            Facial Anatomy and Physiology
                        </li>
                        <li>
                            Tools of the Trade
                        </li>
                        <li>
                            Color Theory
                        </li>
                        <li class="liLast">
                            Client Consultation
                        </li>
                    </div>
                    <div class="ConatinerPrincipalAll">
                        <!-- Segunda seccion de los servicios -->
                        <div class="MakeupFoundation">
                            <h3>Makeup Foundation</h3>
                            <li>
                                Creating the Canvas
                            </li>
                            <li>
                                Facial Features
                            </li>
                            <li class="liLast">
                                The Everday Application
                            </li>
                        </div>
                        <!-- Tercera seccion de los servicios -->
                        <div class="SpecialityMakeup">
                            <h3>Speciality Makeup</h3>
                            <li>
                                Special Events
                            </li>
                            <li>
                                The exciting World of High Fashion and High-Definition
                            </li>
                            <li>Makeup for men</li>
                            <li>Makeup for teens</li>
                            <li>Makeup for Aging Skin</li>
                            <li>Makeup Evening</li>
                            <li>Makeup for wedding</li>
                            <li>Makeup for Photo</li>
                            <li class="liLast">Face Painting Kids Party</li>
                        </div>
                        <!-- Cuarta seccion de los servicios -->
                        <div class="AdvancedMakeup">
                            <h3>Advanced Makeup</h3>
                            <li>
                                Beauty Makeup
                            </li>
                            <li>
                                Fashion & Magazine Makeup
                            </li>
                            <li>Character Makeup</li>
                            <li>Makeup for film, TV & Theater</li>
                            <li>Camouflage Makeup</li>
                            <li>Airbrush Makeup</li>
                            <li>Eyerbrow Tinting</li>
                            <li>Eyelash Tinting & Application</li>
                            <li class="liLast">Advanced Makeup Techniques</li>
                        </div>
                        <!-- Quinta seccion de los servicios -->
                        <div class="BusinessSkills">
                            <h3>Business Skills</h3>
                            <li>Your Professional Image</li>
                            <li class="lastBusinesSkile">The Business of Makeup</li>
                        </div>
                        <div class="BilingualClasses">
                            <h3>Bilingual Classes</h3>
                            <p>(English & Spanish)</p>
                            <p class="lastBilingualClass">If Instructirs are Available</p>
                        </div>
                        <div class="DayCareAvailable">
                            <h3>Day Care Available</h3>
                        </div>
                        <div class="JobPlacementAvailable">
                            <h3>Job Placement Available</h3>
                        </div>
                    </div>
                </div>
                <div class="conatinerBackExtra">
                    <div class="containerFrontExtra">
                        <div class="containerLenght">
                            <h3>Length</h3>
                        </div>
                        <div class="LengthHours">
                            <p>600 Hours</p>
                        </div>
                        <div class="containerSchedule">
                            <h3>Schedule</h3>
                        </div>
                        <div class="containerInfoSchedule">
                            <li class="partTime">
                                Part Time:
                            </li>
                            <P>30 Weeks</P>
                            <P>7.5 Months</P>
                            <li class="fullTime">
                                Full Time:
                            </li>
                            <P>20 Weeks</P>
                            <P>5 Months</P>
                            <li class="day">
                                Day:
                            </li>
                            <P>10:00AM - 2:00PM</P>
                            <p>Monday - Friday</p>
                            <li class="night">Night:</li>
                            <P>6:00PM - 10:00PM</P>
                            <p>Monday - Friday</p>
                        </div>
                        <div class="classesStart">
                            <p>Classes Start Every Monday</p>
                        </div>
                        <div class="containerRegistrationRequeriment">
                            <h3>Registration Requirements</h3>
                            <li>Social Security Card</li>
                            <li>Driver´s License or State Identification</li>
                            <li>U.S. Gren Card or Citizenship or U.S. Passport or U.S Birth Certificate</li>
                            <li class="lastRegistration">High School Diploma or Ged or Wonderlic Exam</li>
                        </div>
                        <div class="FinancialAidAvailable">
                            <h3>Financial Aid Available</h3>
                            <p>Pell Grant & Student Loan</p>
                            <p>(Direct Loan)</p>
                            <p>For those who qualify</p>
                            <p>includes: Registration, Tuition,</p>
                            <p class="lastFinancial">Equipment & book</p>
                        </div>
                        <div class="AsmScholarship">
                            <h3>ASM Scholarship</h3>
                            <p>For those who qualify</p>
                        </div>
                        <div class="LicenseRequired">
                            <H3>License Required</H3>
                            <p>To Work as a Professional Makeup Artist in the State of Florida, a licence of Cosmetology
                                (hairdresser), Facials or full Specialist (Nail, Facials & Makeup) is required </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-0 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4 footerText">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
                <!-- Direccion -->
                <p><i class="fa fa-map-marker-alt mr-2"></i>1025 Ocean Drive, Miami Beach, FL 33139</p>
                <!-- Telefono -->
                <p><i class="fa fa-phone-alt mr-2"></i>(+1) 682 442 5 548</p>
                <!-- Correo -->
                <p class="m-0"><i class="fa fa-envelope mr-2"></i></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
                <p>(Poner una descripcion para que nos sigan)</p>
                <div class="d-flex justify-content-start">

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnTwitter" 
                        href="https://x.com/?lang=es"><i
                            class="fab fa-twitter logoTwitter"></i></a>

                    <a class=" btn btn-lg btn-outline-light btn-lg-square mr-2 btnFacebook" 
                        href="https://www.facebook.com/?locale=es_ES"><i
                            class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnYoutube" 
                        href="https://www.youtube.com/?app=desktop&hl=es"><i
                            class="fab fa-youtube"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square btnInstagram"
                        href="https://www.instagram.com"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Open Hours</h4>
                <div>
                    <h6 class="text-white text-uppercase">Monday - Friday</h6>
                    <p>8.00 AM - 8.00 PM</p>
                    <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                    <p>2.00 PM - 8.00 PM</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/PagesServiceJS/microJS.js"></script>
</body>

</html>
