<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASM Beauty World Academy</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/prueba.css">
    <link rel="stylesheet" href="/css/microblanding.css">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="index.html" class="navbar-brand px-lg-4 m-0">
                <h1 class="m-0 display-4 text-uppercase text-white">ASM</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto p-4">
                        <a href="/index.html" class="nav-item nav-link">Home</a>
                        <a href="/components/about.html" class="nav-item nav-link">About</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Education</a>
                            <div class="dropdown-menu text-capitalize cuadroDropdown">
                                <a href="/components/education.html" class="dropdown-item">Programs</a>
                                <a href="/components/visaStudent.html" class="dropdown-item">Student Visa I- 20</a>
                                <a href="/components/homologation.html" class="dropdown-item">Homologation</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="/components/gallery.html" class="nav-link">Gallery</a>
                        </div>
                        <a href="/components/contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="page-header-prueba mb-1 position-relative">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5"
            style="min-height: 300px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Microblading</h1>
        </div>
    </div>

    <!-- Service Start -->
    <div class="imageBackgroundMicro">
        <div class="squareBack">
            <div class="container-fluid pt-2">
                <div class="containerTitlemicro1">
                    <h2 class="titleFunda">
                        Program of Study
                    </h2>
                </div>
            </div>
            <div class="containerAll">
                <div class="serviceMicrobladingExt">
                    <!-- Primera seccion de los servicios -->
                    <div class="serviceMicrobladingInt">
                        <h3>FUNDAMENTALS</h3>
                    </div>
                    <li class="li1">
                        Microblading vs Permanent Makeup
                    </li>
                    <li class="serviceMicrobladingText">
                        Hsitory of Microblading
                    </li>
                    <div class="serviceMicrobladingColorBack">
                        <!-- Segunda seccion de los servicios -->
                        <div class="serviceMicrobladingColorInt">
                            <h3>Color & Pigment</h3>
                            <li>
                                Color Wheel & Color Theory
                            </li>
                            <li>
                                Color Mixing & Correction
                            </li>
                            <li>Choosing the Right Color</li>
                            <li>Skin Tones & Hair Color</li>
                            <li>Pigment Preparation, Selection, Mixing & Storage</li>
                            <li> Ombre Techique</li>
                        </div>
                        <!-- Tercera seccion de los servicios -->
                        <div class="serviceMicrobladingSkinInt">
                            <h3>Skin Anatomy</h3>
                            <li>
                                Skin Composition & Layers
                            </li>
                            <li>
                                Care & Healing Process of Skin
                            </li>
                            <li>Analysis & Preparation of the skin for Microblading</li>
                        </div>
                        <!-- Cuarta seccion de los servicios -->
                        <div class="serviceDesignShape">
                            <h3>Design & Shape</h3>
                            <li>
                                Face Shapes, Symmetry & Contour
                            </li>
                            <li>
                                Facial Areas, Features & Proportion
                            </li>
                            <li>Measuring with Caliper</li>
                            <li>Eye Shapes</li>
                            <li>Eyebrow Design & Shape</li>
                        </div>
                        <!-- Quinta seccion de los servicios -->
                        <div class="serviceToolsProduct">
                            <h3>Tools & Products</h3>
                            <li>
                                Types of Blades
                            </li>
                            <li>
                                Blade Selection & Applications
                            </li>
                            <li>Tool Holding</li>
                            <li>Blade Position & Skin Support</li>
                            <li>Maintenance & Correct Insertion</li>
                            <li>Identifying Blade Damage & Storage</li>
                            <li>Products & Suppliers</li>
                            <li>Anesthetics & Topical Ointments</li>
                            <li>Using a Wax Pencil</li>
                        </div>
                        <!-- Sexta seccion de los servicios -->
                        <div class="serviceMicrobladingApp">
                            <h3>Application</h3>
                            <li>
                                Sanitation & Sterilization
                            </li>
                            <li>
                                Blood-borne Pathogen
                            </li>
                            <li>Biomedical Waste</li>
                            <li>Tray & Room Setup</li>
                            <li>Hair Stroking Method</li>
                            <li>Work on Blank Practice Skin</li>
                            <li>Hands-on Work Using Live Models</li>
                        </div>
                        <!-- Septima seccion de los servicios -->
                        <div class="serviceMicrobladingPre">
                            <h3>Client Pre & Post Procedure</h3>
                            <li>
                                Client Consultation & Consent Form
                            </li>
                            <li>
                                Aftercare Instructions & Form
                            </li>
                        </div>
                        <!-- Octava seccion de los servicios -->
                        <div class="serviceBusiness">
                            <h3>Business & Laws</h3>
                            <li>
                                Florida Tatto Establishment Laws
                            </li>
                            <li>
                                Insurance Information
                            </li>
                            <li>Legal Forms</li>
                            <li>Before & After Pictures of work</li>
                            <li>Business, Marketing & Advertising</li>
                        </div>
                    </div>
                </div>
                <div class="conatinerBackExtra">
                    <div class="containerFrontExtra">
                        <div class="containerSchedule">
                            <h3>Schedule</h3>
                            <p>10 Hours</p>
                        </div>
                        <div class="containerInfoSchedule">
                            <li class="listWeekdays">
                                WEEKDAYS
                            </li>
                            <P>5:00PM - 10:00PM</P>
                            <P>WEDNESDAY & THURSDAY</P>
                            <li class="listWeekends">
                                WEEKENDS
                            </li>
                            <P>9:00AM - 2:00PM</P>
                            <P>SATURDAY & SUNDAY</P>
                        </div>
                        <div class="conatinerRequerimentMicro">
                            <h3 class="titleRequerimentMicro">Registration Requirements</h3>
                            <li>Must be at Least 18 Years old</li>
                            <li>Copy of government-issued photo ID</li>
                        </div>
                        <div class="containerKitMicro">
                            <h3>Kit</h3>
                            <li>6 Microblading Handles</li>
                            <li>5 Microblading #7 Needles</li>
                            <li>5 Microblading #12 Needles</li>
                            <li>5 Microblading #14 Needles</li>
                            <li>5 Microblading #18 Needles</li>
                            <li>7 Pigments (Black & Browns)</li>
                            <li>Pigment Ring Cups</li>
                            <li>Wax Pencil</li>
                            <li>Practice Skins</li>
                            <li>Brow Stencils</li>
                            <li>Brow Ruler</li>
                            <li>Microbrushes</li>
                            <li>Anesthesia Tag #45</li>
                            <li>Sharp Container</li>
                            <li>After Care Ointment</li>
                            <li>Case</li>
                        </div>
                        <div class="containerJob">
                            <h3>Job Placement Available</h3>
                        </div>
                        <div class="conatinerBilingual">
                            <h3>Bilingual Classes</h3>
                            <p>(English, Spanish or Portuguese)</p>
                            <p>If Instructirs are Available</p>
                        </div>
                        <div class="containerApproved">
                            <H3>APPROVED BY FL DEPT OF HEALT</H3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-0 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4 footerText">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
                <!-- Direccion -->
                <p><i class="fa fa-map-marker-alt mr-2"></i>1025 Ocean Drive, Miami Beach, FL 33139</p>
                <!-- Telefono -->
                <p><i class="fa fa-phone-alt mr-2"></i>(+1) 682 442 5 548</p>
                <!-- Correo -->
                <p class="m-0"><i class="fa fa-envelope mr-2"></i></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
                <p>(Poner una descripcion para que nos sigan)</p>
                <div class="d-flex justify-content-start">

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnTwitter" 
                        href="https://x.com/?lang=es"><i
                            class="fab fa-twitter logoTwitter"></i></a>

                    <a class=" btn btn-lg btn-outline-light btn-lg-square mr-2 btnFacebook" 
                        href="https://www.facebook.com/?locale=es_ES"><i
                            class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnYoutube" 
                        href="https://www.youtube.com/?app=desktop&hl=es"><i
                            class="fab fa-youtube"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square btnInstagram"
                        href="https://www.instagram.com"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Open Hours</h4>
                <div>
                    <h6 class="text-white text-uppercase">Monday - Friday</h6>
                    <p>8.00 AM - 8.00 PM</p>
                    <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                    <p>2.00 PM - 8.00 PM</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/PagesServiceJS/microJS.js"></script>
</body>

</html>
