<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASM Beauty World Academy</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/prueba.css">
    <link rel="stylesheet" href="/css/nailTechnology.css">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="index.html" class="navbar-brand px-lg-4 m-0">
                <h1 class="m-0 display-4 text-uppercase text-white">ASM</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto p-4">
                        <a href="/index.html" class="nav-item nav-link">Home</a>
                        <a href="/components/about.html" class="nav-item nav-link">About</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Education</a>
                            <div class="dropdown-menu text-capitalize cuadroDropdown">
                                <a href="/components/education.html" class="dropdown-item">Programs</a>
                                <a href="/components/visaStudent.html" class="dropdown-item">Student Visa I- 20</a>
                                <a href="/components/homologation.html" class="dropdown-item">Homologation</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="/components/gallery.html" class="nav-link">Gallery</a>
                        </div>
                        <a href="/components/contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="page-header-prueba mb-1 position-relative">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5"
            style="min-height: 300px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase titleBarber">Nail Technology</h1>
        </div>
    </div>

    <!-- Service Start -->
    <div class="imageBackgroundMicro">
        <div class="squareBack">
            <div class="container-fluid pt-2">
                <div class="containerTitlemicro1">
                    <h2 class="titleFunda">
                        Program of Study
                    </h2>
                </div>
            </div>
            <div class="containerAll">
                <div class="conatinerMakeupSkinCare">
                    <!-- Primera seccion de los servicios -->
                    <div class="nailTechnology">
                        <h3>Nail Technology</h3>
                        <li>
                            Manicure & pedicure
                        </li>
                        <li>
                            Spa Manicure
                        </li>
                        <li>
                            Spa Pedicure
                        </li>
                        <li>
                            Jelly Spa Pedicure
                        </li>
                        <li>
                            Acrylic Nails
                        </li>
                        <li>
                            Manicure with Hot Oil
                        </li>
                        <li>
                            Manicure with Paraffin
                        </li>
                        <li>
                            Pedicure with Paraffin
                        </li>
                        <li>
                            Silk Nails
                        </li>
                        <li>
                            Glass Fiber Nails
                        </li>
                        <li>
                            French Manicure
                        </li>
                        <li>
                            Nair Repair
                        </li>
                        <li>
                            Nail Art (Strings, Gems, Glitters, Stamping)
                        </li>
                        <li>
                            Gel Nails (With Lamp)
                        </li>
                        <li>
                            Gel Enamel (Gel Polish)
                        </li>
                        <li>
                            Dust Immersion (Dip Powder)
                        </li>
                        <li>
                            Apres or Gel "X"
                        </li>
                        <li class="lastLi">
                            Nail Diseases
                        </li>
                    </div>
                    <div class="ConatinerPrincipalAll">
                        <!-- Segunda seccion de los servicios -->
                        <div class="floridaLaw">
                            <h3>Florida Law</h3>
                        </div>
                        <!-- Tercera seccion de los servicios -->
                        <div class="salonSpa">
                            <h3>Salon or SPA Management</h3>
                        </div>

                        <!-- Cuarta seccion de los servicios -->
                        <div class="ASMScholarship">
                            <h3>ASM Scholarship</h3>
                            <p>For those who qualify</p>
                        </div>

                        <!-- Quinta seccion de los servicios -->
                        <div class="floridaNail">
                            <h3>FLORIDA NAIL TECHNICIAN LICENSE</h3>
                            <p>After completing the required hours and fulfilling your financial</p>
                            <p>obligation with ASM, we will certify your license application</p>
                        </div>
                    </div>
                </div>
                <div class="conatinerBackExtra">
                    <div class="containerFrontExtra">
                        <div class="containerLeght">
                            <h3>Length</h3>
                        </div>
                        <div class="LengthHours">
                            <p>180 Hours</p>
                        </div>
                        <div class="containerSchedule">
                            <h3>Schedule</h3>
                        </div>
                        <div class="containerInfoSchedule">
                            <li>
                                Part Time:
                            </li>
                            <P>9 Weeks: 2.25 Months</P>
                            <p>Tuesday - Friday</p>
                            <li>
                                Day: 9:00AM - 2:00PM
                            </li>
                            <P></P>
                            <p>Monday - Thursday</p>
                            <li>Evening: 6:00PM - 9:00PM</li>
                            <p></p>
                            <li>Saturday: 9:00AM - 5:00PM</li>
                            <p></p>
                            <p>Classes start every Monday</p>
                        </div>
                        <div class="registrationRequirement">
                            <h3>Registration Requirement</h3>
                            <li>3 IDs:</li>
                            <li>Social Security Card</li>
                            <li>Driver´s License or State Identification</li>
                            <li>U.S. Green card or citizenship Certificate or U.S. Passport or U.S. Passport or U.S.
                                Birth Certificate</li>
                            <li>High School Diploma, GED or Wonderlic Exam</li>
                            <li>Down Payment</li>
                        </div>
                        <div class="privateFinancing">
                            <h3>Private Financing Available </h3>
                        </div>
                        <div class="BilingualClasses">
                            <h3>Bilingual Classes</h3>
                            <p>If Instructors are Available</p>
                        </div>
                        <div class="JobPlacementAvailable">
                            <h3>Job Placement Available</h3>
                            <p>Job Opportunities in the chosen field:</p>
                            <li>
                                Nail Care Specialist
                            </li>
                            <li>
                                Synthetic Nail Technician
                            </li>
                            <li>
                                Nail Salon Owner / Manager
                            </li>
                            <li>
                                Platform Artist
                            </li>
                            <li>
                                Retail Specialist
                            </li>
                            <li>
                                Magazine reporter Examiner
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-0 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
                <!-- Direccion -->
                <p><i class="fa fa-map-marker-alt mr-2"></i>6664 Stitling Road Hollywood, FL 33024</p>
                <!-- Telefono -->
                <p><i class="fa fa-phone-alt mr-2"></i>(+1) 954 558 9 141</p>
                <!-- Correo -->
                <p class="m-0"><i class="fa fa-envelope mr-2"></i></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
                <p>(Poner una descripcion para que nos sigan)</p>
                <div class="d-flex justify-content-start">

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnTwitter" href="#"><i
                            class="fab fa-twitter logoTwitter"></i></a>

                    <a class=" btn btn-lg btn-outline-light btn-lg-square mr-2 btnFacebook" href="#"><i
                            class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnYoutube" href="#"><i
                            class="fab fa-youtube"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square btnInstagram"
                        href="https://www.instagram.com/asmbeautyworld?igsh=MXJzN3MweWY0b2g5ag=="><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Open Hours</h4>
                <div>
                    <h6 class="text-white text-uppercase">Monday - Friday</h6>
                    <p>8.00 AM - 8.00 PM</p>
                    <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                    <p>2.00 PM - 8.00 PM</p>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center text-white border-top mt-4 py-4 px-sm-3 px-md-5"
            style="border-color: rgba(256, 256, 256, .1) !important;">
            <p class="mb-2 text-white">Copyright &copy; <a class="font-weight-bold" href="#">Domain</a>. All Rights
                Reserved.</a></p>
            <p class="m-0 text-white">Designed by <a class="font-weight-bold" href="https://htmlcodex.com">HTML
                    Codex</a></p>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/PagesServiceJS/microJS.js"></script>
</body>

</html>