<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASM Beauty World Academy</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/prueba.css">
    <link rel="stylesheet" href="/css/permanentMakeup.css">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="index.html" class="navbar-brand px-lg-4 m-0">
                <h1 class="m-0 display-4 text-uppercase text-white">ASM</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto p-4">
                        <a href="/index.html" class="nav-item nav-link">Home</a>
                        <a href="/components/about.html" class="nav-item nav-link">About</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Education</a>
                            <div class="dropdown-menu text-capitalize cuadroDropdown">
                                <a href="/components/education.html" class="dropdown-item">Programs</a>
                                <a href="/components/visaStudent.html" class="dropdown-item">Student Visa I- 20</a>
                                <a href="/components/homologation.html" class="dropdown-item">Homologation</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="/components/gallery.html" class="nav-link">Gallery</a>
                        </div>
                        <a href="/components/contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="page-header-prueba mb-1 position-relative">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5"
            style="min-height: 300px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase titleBarber">Permanent Makeup</h1>
        </div>
    </div>

    <!-- Service Start -->
    <div class="imageBackgroundMicro">
        <div class="squareBack">
            <div class="container-fluid pt-2">
                <div class="containerTitlemicro1">
                    <h2 class="titleFunda">
                        Program of Study
                    </h2>
                </div>
            </div>
            <div class="containerAll">
                <div class="conatinerMakeupSkinCare">
                    <!-- Primera seccion de los servicios -->
                    <div class="fundamentals">
                        <h3>Fundamentals</h3>
                        <li>
                            Introduction to Permanent Makeup
                        </li>
                        <li class="lastLi">
                            History of Permanent Makeup
                        </li>
                    </div>
                    <div class="ConatinerPrincipalAll">
                        <!-- Segunda seccion de los servicios -->
                        <div class="colorPigment">
                            <h3>Color & Pigment</h3>
                            <li>Color Wheel & Color Theory</li>
                            <li>Color Mixing & Correction</li>
                            <li>Choosing the right Color</li>
                            <li>Skin Tones</li>
                            <li class="lastLi">Pigment Preparation, Selection, Mixing & Storage</li>
                        </div>
                        <!-- Tercera seccion de los servicios -->
                        <div class="skinAnatomy">
                            <h3>Skin Anatomy</h3>
                            <li>Skin Composition & Layers</li>
                            <li>Care & Healing Process of Skin</li>
                            <li>Skin Diseases and Disorders</li>
                            <li class="lastLi">Analysis & Preparation of the Skin for Permanent Makeup</li>
                        </div>
                        <!-- Cuarta seccion de los servicios -->
                        <div class="designShape">
                            <h3>Design & Shape</h3>
                            <li>Face Shapes, Symmetry & Contour</li>
                            <li>Facial Areas, Features & Proportion</li>
                            <li>Measuring with Caliper</li>
                            <li>Eye Shapes</li>
                            <li>Eyebrow Design & Shape</li>
                            <li>Eyeliner Instructions</li>
                            <li class="lastLi">Lip Shapes, Liner & Full Color</li>
                        </div>
                        <!-- quinta seccion de los servicios -->
                        <div class="machinesToolsProducts">
                            <h3>Machines, Tools & Products</h3>
                            <li>Manual VS Machines</li>
                            <li>Types of Machines</li>
                            <li>Needle Selection & Applications</li>
                            <li>Proper Handling of Devices & Needles</li>
                            <li>Maintenance & Correct Insertion</li>
                            <li>Identify Needle Damage & Storage</li>
                            <li>Products & Suppliers</li>
                            <li>Anesthetics & Topical Ointments</li>
                            <li class="lastLi">Using a Surgical Marker</li>
                        </div>
                        <!-- sexta seccion de los servicios -->
                        <div class="application">
                            <h3>Application</h3>
                            <li>Sanitation & Sterilization</li>
                            <li>Blood-borne Pathogen</li>
                            <li>Biomedical Waste</li>
                            <li>Tray & Room Setup</li>
                            <li>Work on Practice Skin</li>
                            <li class="lastLi">Hands-on Work Using Live Models</li>
                        </div>
                        <!-- septima seccion de los servicios -->
                        <div class="clientPrePost">
                            <h3>Client Pre & Post Produce</h3>
                            <li>Client Consultation & Consent Form</li>
                            <li class="lastLi">Aftercare Instruction & Form</li>
                        </div>
                        <!-- Octava seccion de los servicios -->
                        <div class="BusinessLaws">
                            <h3>Business & Laws</h3>
                            <li>Florida Tatto Establishment Laws</li>
                            <li>Insurance Information</li>
                            <li>Legal Forms</li>
                            <li>Before & After Pictures of Work</li>
                            <li>Business, Marketing & Advertising</li>
                        </div>
                    </div>
                </div>
                <div class="conatinerBackExtra">
                    <div class="containerFrontExtra">
                        <div class="containerLenght">
                            <h3>Length</h3>
                        </div>
                        <div class="LengthHours">
                            <p>15 Hours</p>
                        </div>
                        <div class="containerSchedule">
                            <h3>Schedule</h3>
                        </div>
                        <div class="containerInfoSchedule">
                            <li>Weekdays:</li>
                            <p>5:00PM - 10:00PM</p>
                            <p>Monday - Wednesday</p>
                            <li>
                                Weekends:
                            </li>
                            <P>9:00AM - 5:00PM</P>
                            <p>Saturday & Sunday</p>
                        </div>
                        <div class="registrationRequirement">
                            <h3>Registration Requirement</h3>
                            <li>Must Be At Least 18 Years Old</li>
                            <li class="lastli">Copy of government - issued Photo ID</li>
                        </div>
                        <div class="Kit">
                            <h3>Kit</h3>
                            <li>1 Sapphire Pro Machine</li>
                            <li>1 Single prong Needle</li>
                            <li>1 Two Prong Needle</li>
                            <li>1 Three Prong Needle</li>
                            <li>1 Four Flat Needle</li>
                            <li>1 Five Prong Needle</li>
                            <li>5 Disposable Casings</li>
                            <li>5 Disposable Couplers</li>
                            <li>5 Pro Tips</li>
                            <li>21 color Pigment</li>
                            <li>Sharps Container</li>
                            <li>Aftercare Ointment</li>
                            <li>Artist Color Wheel</li>
                            <li> Microbrushes</li>
                            <li>2 Surgical Markers</li>
                            <li>3D Practice Skin</li>
                            <li>Pigment Ring Cups</li>
                            <li>Brow Stencils & Brow Rulers</li>
                            <li>Anesthesia Tag #45</li>
                            <li>case</li>
                        </div>
                        <div class="JobPlacementAvailable">
                            <h3>Job Placement Available</h3>
                        </div>
                        <div class="BilingualClasses">
                            <h3>Bilingual Classes</h3>
                            <p>(English & Spanish)</p>
                            <p>If Instructors are Available</p>
                        </div>
                        <div class="containerApproved">
                            <H3>APPROVED BY FL DEPT OF HEALT</H3>
                        </div>
                        <div class="floridaLicense">
                            <h3>Florida License</h3>
                            <p>To work as a Permanent Makeup Artist in Florida,</p>
                            <p>you need a Florida Tattoo Artist License.</p>
                            <p>Before taking the course, you need to take the</p>
                            <p>Blood-borne pathogen Course, then we´ll submit</p>
                            <p>your application and you will receive your FL Tattoo license</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-0 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
                <!-- Direccion -->
                <p><i class="fa fa-map-marker-alt mr-2"></i>6664 Stitling Road Hollywood, FL 33024</p>
                <!-- Telefono -->
                <p><i class="fa fa-phone-alt mr-2"></i>(+1) 954 558 9 141</p>
                <!-- Correo -->
                <p class="m-0"><i class="fa fa-envelope mr-2"></i></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
                <p>(Poner una descripcion para que nos sigan)</p>
                <div class="d-flex justify-content-start">

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnTwitter" href="#"><i
                            class="fab fa-twitter logoTwitter"></i></a>

                    <a class=" btn btn-lg btn-outline-light btn-lg-square mr-2 btnFacebook" href="#"><i
                            class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnYoutube" href="#"><i
                            class="fab fa-youtube"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square btnInstagram"
                        href="https://www.instagram.com/asmbeautyworld?igsh=MXJzN3MweWY0b2g5ag=="><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Open Hours</h4>
                <div>
                    <h6 class="text-white text-uppercase">Monday - Friday</h6>
                    <p>8.00 AM - 8.00 PM</p>
                    <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                    <p>2.00 PM - 8.00 PM</p>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center text-white border-top mt-4 py-4 px-sm-3 px-md-5"
            style="border-color: rgba(256, 256, 256, .1) !important;">
            <p class="mb-2 text-white">Copyright &copy; <a class="font-weight-bold" href="#">Domain</a>. All Rights
                Reserved.</a></p>
            <p class="m-0 text-white">Designed by <a class="font-weight-bold" href="https://htmlcodex.com">HTML
                    Codex</a></p>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/PagesServiceJS/microJS.js"></script>
</body>

</html>