<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASM Beauty World Academy</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/prueba.css">
    <link rel="stylesheet" href="/css/skinCare.css">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="index.html" class="navbar-brand px-lg-4 m-0">
                <h1 class="m-0 display-4 text-uppercase text-white">ASM</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto p-4">
                        <a href="/index.html" class="nav-item nav-link">Home</a>
                        <a href="/components/about.html" class="nav-item nav-link">About</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Education</a>
                            <div class="dropdown-menu text-capitalize cuadroDropdown">
                                <a href="/components/education.html" class="dropdown-item">Programs</a>
                                <a href="/components/visaStudent.html" class="dropdown-item">Student Visa I- 20</a>
                                <a href="/components/homologation.html" class="dropdown-item">Homologation</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="/components/gallery.html" class="nav-link">Gallery</a>
                        </div>
                        <a href="/components/contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="page-header-prueba mb-1 position-relative">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5"
            style="min-height: 300px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase titleBarber">Skin Care</h1>
        </div>
    </div>

    <!-- Service Start -->
    <div class="imageBackgroundMicro">
        <div class="squareBack">
            <div class="container-fluid pt-2">
                <div class="containerTitlemicro1">
                    <h2 class="titleFunda">
                        Program of Study
                    </h2>
                </div>
            </div>
            <div class="containerAll">
                <div class="conatinerMakeupSkinCare">
                    <!-- Primera seccion de los servicios -->
                    <div class="SkinCare">
                        <h3>Skin Care</h3>
                        <li>
                            Facials (all skin types)
                        </li>
                        <li>Skin Analysis: Wheat Protein, Caviar Extract, Alantoin, Panthenol, Aloe Vera, Ginkgo,
                            Biloba,
                        </li>
                        <p>
                            Glycolic Acid, Hialuronic Acid, Green Tea, Tea Tree Mask, Collagen Fiber, Menthyl Lactate
                        </p>
                        <li>
                            Cosmetic Treatments
                        </li>
                        <li>
                            Manual Removals & Facial Clarifying
                        </li>
                        <li>
                            Facial Lymphatic Drainage
                        </li>
                        <li>
                            Professional Facial Massage (Swedish & European), Gold & Diamont Mask
                        </li>
                        <li>
                            Waxing Techniques (Soft, Hard, Sugar, Threading)
                        </li>
                        <li>
                            Aromatherapy Treatments
                        </li>
                        <li>
                            Basics of electricity
                        </li>
                        <li>
                            Skin Diseases
                        </li>
                        <li class="lastLi">
                            Reflexology (Demo)
                        </li>
                    </div>
                    <div class="ConatinerPrincipalAll">
                        <!-- Segunda seccion de los servicios -->
                        <div class="Makeup">
                            <h3>Makeup</h3>
                            <li>
                                History of Makeup - Theory
                            </li>
                            <li>
                                Color Theory
                            </li>
                            <li>
                                Skin Analysis for Makeup
                            </li>
                            <li>
                                Skin Preparation for Makeup
                            </li>
                            <li>
                                Face types
                            </li>
                            <li>
                                Evening Makeup
                            </li>
                            <li>
                                Season Makeup
                            </li>
                            <li>
                                Wedding Makeup
                            </li>
                            <li>
                                Teen´s Makeup
                            </li>
                            <li>
                                Makeup for Aging Skin
                            </li>
                            <li>
                                Photo Makeup
                            </li>
                            <li>
                                Face Painting for Kinds Party
                            </li>
                            <li>
                                Eyebrow Tinting
                            </li>
                            <li>
                                Eyelash Tinting
                            </li>
                            <li class="lastLi">
                                Eyelash Application
                            </li>
                        </div>
                        <!-- Tercera seccion de los servicios -->
                        <div class="salonSpa">
                            <h3>Salon or SPA Managment</h3>
                        </div>
                        <div class="FloridaLaw">
                            <h3>Florida Law</h3>
                            <p>Registration Requirements</p>
                            <li>3 IDs</li>
                            <li>Sicial Security Card</li>
                            <li>Driver´s license or State Identification</li>
                            <li>U.S. Green card, Citizenship or U.s. Passport or U.S Birth Certificate</li>
                            <li>High School Diploma, GED or Wonderlic Exam</li>
                            <li>Down Payment</li>
                            <div class="floridaFacialLicenseSkincare">
                                <p class="floridaFacialTitle">Florida License</p>
                                <p class="floridaFacialText">Upon Completing the required hours & fulfilling ASM
                                    Financial Obligations</p>
                                <p class="floridaFacialText">we will
                                    certify your license application</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="conatinerBackExtra">
                    <div class="containerFrontExtra">
                        <div class="containerLeght">
                            <h3>Length</h3>
                        </div>
                        <div class="LengthHours">
                            <p>220 Hours</p>
                        </div>
                        <div class="containerSchedule">
                            <h3>Schedule</h3>
                        </div>
                        <div class="containerInfoSchedule">
                            <li class="partTime">
                                Part Time:
                            </li>
                            <P>11 Weeks</P>
                            <P>2.75 Months</P>
                            <li class="fullTime">
                                Full Time:
                            </li>
                            <P>8.8 Weeks</P>
                            <P>2.2 Months</P>
                            <li class="day">
                                Day:
                            </li>
                            <p>Monday to Friday</p>
                            <P>10:00AM - 2:00PM</P>
                            <li class="night">Night:</li>
                            <p>Monday to Thursday</p>
                            <P>6:00PM - 9:00PM</P>
                            <p>And Saturday</p>
                            <p class="LastP">9:00AM - 5:00PM</p>
                        </div>
                        <div class="BilingualClasses">
                            <h3>Bilingual Classes</h3>
                            <p>(English & Spanish)</p>
                            <p class="lastP">If Instructirs are Available</p>
                        </div>
                        <div class="privateFinancing">
                            <h3>Private Financing Available </h3>
                        </div>
                        <div class="JobPlacementAvailable">
                            <h3>Job Placement Available</h3>
                            <p>Job Opportunites in the chosen field:</p>
                            <li>
                                Skin care Specialist
                            </li>
                            <li>
                                Makeup Technician
                            </li>
                            <li>
                                Image Consultant
                            </li>
                            <li>
                                Product Representative
                            </li>
                            <li>
                                Salon Owner
                            </li>
                            <li>
                                Salon Manager
                            </li>
                            <li>
                                Platform Artist
                            </li>
                            <li>
                                Theatrical Makeup Artist
                            </li>
                            <li>
                                Aroma Therapist
                            </li>
                            <li>
                                Retail Specialist
                            </li>
                            <li>
                                Eyelash Extensions specialist
                            </li>
                            <li class="lastLi">
                                Eyebrow Specialist
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-0 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4 footerText">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
                <!-- Direccion -->
                <p><i class="fa fa-map-marker-alt mr-2"></i>1025 Ocean Drive, Miami Beach, FL 33139</p>
                <!-- Telefono -->
                <p><i class="fa fa-phone-alt mr-2"></i>(+1) 682 442 5 548</p>
                <!-- Correo -->
                <p class="m-0"><i class="fa fa-envelope mr-2"></i></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
                <p>(Poner una descripcion para que nos sigan)</p>
                <div class="d-flex justify-content-start">

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnTwitter" 
                        href="https://x.com/?lang=es"><i
                            class="fab fa-twitter logoTwitter"></i></a>

                    <a class=" btn btn-lg btn-outline-light btn-lg-square mr-2 btnFacebook" 
                        href="https://www.facebook.com/?locale=es_ES"><i
                            class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2 btnYoutube" 
                        href="https://www.youtube.com/?app=desktop&hl=es"><i
                            class="fab fa-youtube"></i></a>

                    <a class="btn btn-lg btn-outline-light btn-lg-square btnInstagram"
                        href="https://www.instagram.com"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Open Hours</h4>
                <div>
                    <h6 class="text-white text-uppercase">Monday - Friday</h6>
                    <p>8.00 AM - 8.00 PM</p>
                    <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                    <p>2.00 PM - 8.00 PM</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/PagesServiceJS/microJS.js"></script>
</body>

</html>
